<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="padre" id="app">
        <div class="bo">
            <div class="ab-hd"></div>
            <div class="ab-mn"></div>
            <div class="bg-white ab-ct  d-flex h-100">
                <div class="contact-box h-100 ">
                    <div class="d-flex justify-content-between align-items-center hd-cb">
                        <div class="d-flex align-items-center">
                            <img src="./img/avatar_io.jpg" alt="">
                            <span>Sofia</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-notch mx-2"></i>
                            <i class="fa-solid fa-message mx-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical mx-2"></i>
                        </div>
                    </div>
                    <div class="mess d-flex">
                        <div class="bg-white notifiche d-flex align-items-center justify-content-center"><i class="fa-solid fa-bell-slash my-bell"></i></div>
                        <div class="noti"><strong>Ricevi notifiche di nuovi messaggi</strong>  <br>
                            <span>Attiva notifiche desktop</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex cerca">
                            <div class="d-flex search">
                                <div class="bo3 d-flex align-items-center  justify-content-center">  <i class="fa-solid fa-magnifying-glass my-lens"></i></div>
                                <div class="bo2"><input type="text" placeholder="Cerca o inizia una nuova chat" v-model.trim="searchTerm" ></div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="bo4">
                        <div v-for="(value,index) in filteredContacts" class="justify-content-between d-flex pt-2 pb-2 selezionata" @click="slider(value.id)"  :class="(index==indice)?'active':''">
                            <div class="ab-grandezza">
                                <div class="d-flex">
                                    <div class="ps-2">
                                        <img class="" :src="value.image" alt="">
                                    </div>
                                   
                                    <div class="ps-2">
                                        <span>{{value.name}}</span> <br>
                                        <span> {{value.messages[value.messages.length -1].message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                {{value.messages[value.messages.length -1].date}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-box h-100">
                    <div class="d-flex justify-content-between align-items-center hd-cb">
                        <div class="d-flex align-items-center">
                            <div>
                                <img  :src="contacts[indice].image" alt="">
                            </div>
                            <div>
                                <span>{{contacts[indice].name}}</span>
                                <br>
                                <span>ultimo accesso alle{{contacts[indice].messages[0].date}}</span>
                            </div>
                            
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass mx-2"></i>
                            <i class="fa-solid fa-paperclip mx-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical mx-2"></i>
                        </div>
                    </div>
                    <div class="sfondo">
                        <div v-for="(value,index) in contacts[indice].messages" class="pt-5 pb-3" :class="(value.status == 'sent') ? 'ab-inviato':'ab-ricevuto '" ref="msg">
                            <div @mouseleave="leave" :class="(value.status == 'sent') ? 'inviato':'ricevuto '" class="d-flex justify-content-between bo6 bo7">
                                {{value.message}}
                                <div class="tendin" @click="myfilter()"    >
                                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                                    <div :class="(isActive === false) ? 'ab-el':'ab-el2'">
                                        <span>message info</span> <br>
                                        <span @click="remove(index)">delete</span>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                    <div class="d-flex justify-content-between align-items-center hd-ct">
                        <div class="d-flex align-items-center ab-g justify-content-center">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="ab-c">
                            <input type="text" placeholder="scrivi un messaggio" v-model="invia" @keyup.enter="invmes">
                        </div>
                        <div class="d-flex align-items-center ab-g justify-content-center">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="./js/script.js"></script>
</body>
</html>
